html {
    height: 100%;
}

body {
    background:#222;
    color: #eee;
    height: 100%;
    width: 100%;
    user-select:none;
}

#self .health:before { content: "\2665"; color: red; text-shadow: 0px 0px 3px yellow, 0px 0px 7px white}
#self .hunger:before { content: "\1F356"; text-shadow: 0px 0px 3px white}
#self .memory:before { content: "\1F4AD"; color: white; text-shadow: 0px 0px 2px black,0px 0px 7px white}
#self .thirst:before { content: "\1F335"; color: sandybrown; text-shadow: 0px 0px 2px black,0px 0px 7px white}
#self .berries:before { content: "\1F352"; color: lightblue; text-shadow: 0px 0px 5px dodgerblue, 0px 0px 7px white }
#self .rocks:before { content: "\2BCA"; color: grey; text-shadow: 0px 0px 2px black,0px 0px 4px white}
#self .water:before { content: "\1F4A7"; text-shadow: 0px 0px 2px black,0px 0px 7px white}

#debug pre {
    font-size: .7em;
}

.header {
    border-bottom: 1px solid #ddd;
    font-size:1.3em;
    text-align: center;
}

.footer {
    border-top: 1px solid #ddd;
    font-size:1.1em;
    text-align: center;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.gamearea {
    height:32%;
    padding-left: 2px;
    padding-right: 2px;
}

#resources {
    height: 150px;
    padding: 0px;
    border-right: 1px solid #ccc;
}

#message-overlay {
    height: 150px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

#messages {
    font-size: .8em;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}

#messages .green { color: limegreen}
#messages .blue { color: cornflowerblue}
#messages .yellow { color: yellow}
#messages .red { color: orangered}
#messages .grey { color: grey}

#game {
    min-height: 90%;
    padding: 0px;
}

.resource {
    display: inline-block;
    padding: 3px;
    background: black;
    border: 1px solid #666;
}

.resource:hover {
    background: #333;
}

.resource:active {
    background: #222;
}

#self {
    border-bottom: 1px solid #ccc;
}

#self span {
    display: inline-block;
    margin-right: 10px;
}

.center {
    text-align: center;
    display:inline-block;
    width: 100%;
}

#beings {
    border-top:  1px solid #ccc;
}
